/* geral */
body
{
    background-image: url("../imgs/background.png");
    background-repeat: repeat;
    background-size: 384px 216px;

    color: white;
    background-color: black;
}

#title
{
    padding-right: 20px;
}

a, p, h1, h2, body, img
{
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
}

.download
{
    margin-bottom: 35px;
}

.download-img
{
    position: absolute;
    overflow: hidden;
    z-index: 0;
    width: 16px;
    height: 16px;
}

.download-text
{
    position: relative;
    overflow: hidden;
    margin-left: 19px;
    z-index: 0;
}

.center
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-body
{
    width: 650px;
    /*border-style: 1px solid;*/
    padding: 40px 70px;
    margin-top: 0;
    margin-bottom: 70px;
    position: relative;
    top: 50px;
    bottom: 100px;
    left: 50%;
    margin-left: -395px;
}

.footer
{
    position: relative;
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 60px;
    text-align: center;
}

.asd
{

    position: absolute;
    bottom: 5px;
    left: 0px;
    color: blue;
    opacity: 50%;
}

/* menu */
#menu ul
{
    list-style:none;
}

#menu ul li 
{
    display: inline;
}

#menu ul li a
{
    padding-left: 10px;
    padding-right: 10px;

    display: inline-block;
    color: white;
    text-decoration: none;
}

/*#menu ul li a:hover
{
    letter-spacing: 3px;
}*/