.slowReveal {
  opacity: 0;
  animation: aparecer 0.25s ease-out forwards, piscar .2s ease-out alternate;
  animation-delay: calc(var(--i) * 0.3s), calc(var(--i) * 0.3s);
}

.getAttention {
  opacity: 0;
  animation: aparecer 0.25s ease-out forwards, piscar .2s ease-out alternate, blinkN 1s ease-out forwards;
  animation-delay: calc(var(--i) * 0.3s), calc(var(--i) * 0.3s), calc(var(--i) * 0.3s + .7s);
}

.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 20px;
}

.marquee {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
}

@keyframes blinkN {
  0% {
    background-color: var(--back-color);
    color: var(--main-color);
  }
  25% {
    background-color: var(--main-color);
    color: var(--back-color);
  }
  50% {
    background-color: var(--back-color);
    color: var(--main-color);
  }
  75% {
    background-color: var(--main-color);
    color: var(--back-color);
  }
  100% {
    background-color: var(--back-color);
    color: var(--main-color);
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes piscar {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.9;
  }
}