@font-face {
    font-family: Cossette;
    src: url('https://calavera.xyz/assets/fonts/cossette.ttf');
}

@font-face {
    font-family: CossetteTexte;
    src: url('https://calavera.xyz/assets/fonts/cossette-texte.ttf');
}

@font-face {
    font-family: MSGothic;
    src: url('https://calavera.xyz/assets/fonts/msgothic.ttf');
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-1px, 1px); }
    40% { transform: translate(-1px, -1px); }
    60% { transform: translate(1px, 1px); }
    80% { transform: translate(1px, -1px); }
    100% { transform: translate(0, 0); }
}

#phrase {
    font-family: CorsetteTexte;
}

:root {
    --main-color: #CC6A00; /*#dddbc4*/
    --back-color: black; /*black*/
    --shad-color: #5c5a4c; /*#5c5a4c*/
    --link-color: #0fb800; /*#ffbb00*/
}

*::selection,.imgTitle::selection {
    background-color: var(--main-color);
    color: var(--back-color);
}

.blank {
    --dot-size: 1px;
    --spacing: 19px;

    background-image: 
        radial-gradient(var(--main-color) var(--dot-size), transparent var(--dot-size));
    
    background-size: var(--spacing) var(--spacing);
    background-position: 0 0;
    
    background-clip: padding-box; 

    margin: 20px;
    padding: 20px;

    width: 100%;
    height: 250px;
}

.stripe {
    background: repeating-linear-gradient(
        45deg,
        var(--main-color), var(--main-color) 10px,
        var(--back-color) 10px, var(--back-color) 20px
    );
}

body {
    background-color: var(--back-color);
    color: var(--main-color);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;

    filter: blur(.04em);
}

.main {
    width: 640px;
    margin: auto;

    padding-bottom: 60px;
}

em {
    padding-left: 2px;
    padding-right: 2px;

    display: inline-block;

    background-color: var(--main-color);
    color: var(--back-color);

    font-family: Cossette;
    font-style: normal;
    text-transform: uppercase;
}

em:hover {
    animation: shake 0.10s infinite;
    cursor: help;
}

.centerContent {
    text-align: center;
}

.contentRow {
    display: flex;
}

.fLeft {
    float: left;
}

.fNone {
    float: none;
    width: 100%;
}

.fRight {
    float: right;
}

.fLeft:has(img), .fRight:has(img) {
    padding: 30px;
}

.fLeft:has(:not(img)), .fRight:has(:not(img)) {
    width: 100%;
}

.menu {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    display: block;

    color: inherit;
}

.menu li a:hover {
    background-color: var(--main-color);
    color: var(--back-color);
}

h1, h2, h3, h4, h5, h6 {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;

    /* max-height: 22px; */

    background-color: var(--main-color);
    color: var(--back-color);

    font-family: Cossette;
    text-transform: uppercase;
}

.imgTitle {
    color: var(--main-color); 
    background-color: var(--back-color); 
    font-family: Cossette; 
    width: auto;
}

em::selection,
h1::selection,
h2::selection, 
h3::selection,
h4::selection,
h5::selection,
h6::selection
{
    color: var(--main-color);
    background-color: var(--back-color);
}

q {
    color: var(--shad-color);
    font-style: italic;

    quotes: none;
}

a:link {
    color: var(--link-color);
    text-decoration: underline;
}

a:visited
{
    color: var(--link-color);
    text-decoration: underline;
}

pre {
    white-space: pre-wrap;
    font-family: CossetteTexte, serif;
    text-align: justify;
    font-size: 11pt;
}

::-webkit-scrollbar {
    width: 14px;
    margin: 2px;
}

::-webkit-scrollbar-track {
    background: var(--back-color);
    background-image: radial-gradient(var(--main-color) 1px, transparent 0);
    background-size: 3px 3px;
    background-position: -19px -19px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
}